  <% include _header %>

  <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
          <div class="row justify-content-md-center">
    <div class="col-12 col-md-auto">
      <img src="../static/logo.png"/>
    </div>
  </div>
          <div class="row">
            <div class="col-lg-10 mx-auto">
              <h1 class="text-uppercase">
                <strong>Welcome to Insight!</strong>
              </h1>
            </div>
            <div class="col-lg-8 mx-auto">
              <p class="text-faded mb-5">An online discussion panel aiming to bridge interpersonal divides and enable thoughtful, productive discourse </p>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href="/signup">Sign Up</a>
              <a href ="/login"> Or, click here to login </a>
            </div>
          </div>
        </div>
  </header>

  <section id="services">
      <div class="container-fluid">
        <div class="row justify-content-md-center">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Sign Up</h3>
              <p class="text-muted mb-0">Create an account and pick your political leaning</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Read an Article</h3>
              <p class="text-muted mb-0">Choose a trending topic to read about</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa fa-comments text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Join a Conversation</h3>
              <p class="text-muted mb-0">Discuss the article with someone from the opposite political leaning</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <header class="masthead text-center text-white d-flex" id="footer">
          <div class="container my-auto">
            <div class="row">
              <div class="col-lg-10 mx-auto">
                <h2 class="text-uppercase" id="headline">
                  <strong>What is Insight?</strong>
                </h2>
              </div>
              <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Insight is a web application that enables users to discuss controversial political issues face to face. Users read one of featured news articles, after which they are able, if they choose, to video chat with another user of the other end of the political spectrum instantaneously.</p>

              </div>
            </div>
            <div class="row">
              <div class="col-lg-10 mx-auto">
                <h2 class="text-uppercase" id="headline">
                  <strong>Why did we create this?</strong>
                </h2>
              </div>
              <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">We found that people tend to shun away from political discussion online social media platform, due to the toxicity of most online discussion platform. We want to humanize the discussion process by putting "faces" to people's opinions. We hope that this would encourage more productive political discussion.</p>

              </div>
            </div>
          </div>
    </header>


  <% include _footer %>
